.footer {
  background: #e15ed2;
  color: #0e0e0e;
  padding: 40px 30px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* LOGO */
.footer-brand {
  width: 120px;
}

.footer-logo {
  width: 90px;
  background: #fff;
  padding: 8px;
  border-radius: 2px;
}

/* COLUMNS */
.footer-column h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  color: #0e0d0d;
  cursor: pointer;
}

.footer-column ul li:hover {
  color: #fff;
}

/* SUPPORT */
.support p {
  margin: 6px 0;
  font-size: 16px;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  
  gap: 12px;
}

.social {
  width: 30px;
  height: 30px;
  border: 2px solid #030303;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #010101;
  font-size: 20px;
  transition: 0.3s;
}

/* DIVIDER */
.footer-divider {
  border-top: 2px dotted #0c0c0c;
  margin: 30px 0 20px;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 25px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-brand {
    margin-bottom: 20px;
  }
}
