/* REMOVE this completely */
/*
:root {
  --luxe-yellow: hsl(307, 93%, 28%);
}
*/

/* NAVBAR */
.navbar-luxe {
  background-color: #bd1aa5 !important; /* dark pastel pink */
  padding: 0.45rem 0;
}

/* LOGO */
.logo-link {
  text-decoration: none !important;
  margin-left: 20px;
}

.navbar-logo {
  height: 42px;
  display: block;
}

/* MENU LINKS */
.navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 700;
  color: #fff !important;
  margin: 0 20px;
  text-decoration: none !important;
}
.navbar-nav .nav-link { font-size: 1rem;
   font-weight: 700; color: #fcf2f2 !important; margin-left: 50px;
   margin-right: 30px; text-decoration: none !important;}

.navbar-nav .nav-link:hover {
  color: #0a0909 !important; /* lighter pastel hover */
}

/* ICONS */
.navbar-nav .bi {
  font-size: 1.3rem;
  color: #ffffff;
}

/* Individual icon tweaks */
.bi-heart {
  color: #f2c1d1;
}

.bi-person {
  color: #ffffff;
  margin-left: 50px;
}

.bi-cart {
  color: #ffffff;
}

/* ICON BUTTON ALIGNMENT */
.navbar-luxe button {
  padding: 0;
}

.navbar-luxe .nav-item button {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-luxe i {
  display: block;
  line-height: 1;
}

/* TOGGLER */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
